.looper-main {
	width: 40vw;
	display: flex;
	flex-direction: column;
	padding: 20px;

}

.all-buttons {
	padding:  10px;
	align-self: stretch;
	display: flex;
	justify-content: space-between;

}

.tracks-section {
	display: flex;
	align-self: stretch;
}

